:root {
  --main-bg-clr: #f8f9fa;
  --main-clr: #495057;
  --myskill-bg-clr: #495057;
  --myskill-clr: #e9ecef;
  --section-bg: #dee2e6;
  --title-clr: #40aae8;

  --header-shadow: 0 0 20px 0 #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Typograph */

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  color: #e9ecef;
}

h2,
h3 {
  color: var(--title-clr);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.6;
  letter-spacing: 0.1em;
}

/* Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #e9ecef;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: var(--header-shadow);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header li {
  margin: 0 0.8em;
}

header a {
  color: var(--main-clr);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover,
header a:focus {
  color: gray;
}
.menu-btn__burger {
  width: 2em;
  height: 6px;
  background: var(--main-clr);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 6px;
  background: var(--main-clr);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* layout */

.sec-hero,
footer {
  background-color: #343a40;
  color: white;
}

.hero-container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-container p:last-of-type {
  margin-bottom: 4em;
}

.sec-hero,
.sec-rest {
  min-height: 100vh;
}
.proj-btn {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--main-bg-clr);
  color: var(--myskill-bg-clr);
  padding: 0.5em 1.5em;
  text-decoration: none;
  display: block;
  max-width: 200px;
  margin: auto;
}

.container-gen {
  margin: auto;
  padding: 1em;
}

.sec-container-head {
  text-align: center;
  margin-bottom: 5em;
}
.sec-rest {
  background-color: var(--section-bg);
}
.section-h2 {
  margin-bottom: 0.2em;
}

.pad {
  padding-top: 6em;
}

footer {
  padding: 3em 0;
  text-align: center;
}

/* about */

.sec-about-text,
.sec-about-myskill {
  padding: 1em;
}

.sec-about-myskill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.sec-about-myskill-header {
  grid-column: 1 / -1;
}

.myskill-box {
  background-color: var(--myskill-bg-clr);
  color: var(--myskill-clr);
  padding: 0.5em 1em;

  text-align: center;
}

@media (min-width: 630px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .menu-btn__burger {
    display: none;
  }
  .sec-about-myskill {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 630px) {
  nav ul {
    display: none;
  }
}

@media (min-width: 1000px) {
  .sec-container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    width: 60%;
    margin: auto;
    gap: 0em 2em;
  }
}
