html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}

/* Typograph */
h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

/* Navigation */

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 20px 0 #000000;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  
}

header li {
  margin: 0 .8em;
}

header  a {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: black; /* placeholder color */
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover,
header a:focus {
  color: gray;
}

/* layout */

.sec-hero,
.sec-rest {
  background-color: #f8f8f8;; /* placeholder color */
  min-height: 100vh;
  
  

}

.sec-hero, footer {
 
  background: url(../images/circle-blues.png);
  color: white;
  
}

.hero-container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.container-gen {
  max-width: 50%;
  margin: auto;
 
}



.pad {
    padding-top: 5em;
   
}

footer {
  padding: 3em 0;
  text-align: center;
}

/* section content */

.sec-container-head {
  text-align: center;
  margin: 6em 0;
  
}

.sec-container-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  
 
  

}



.sec-about-text,
.sec-about-myskill {
  text-align: left;
  padding: 1em 1em;
  /* border: solid 20px  grey; */
}

.sec-about-text {
  width: 50%;
}

.sec-about-myskill {
  width: 30%;
}

